.about {
    width: 100%;
    padding-bottom: 120px;
    background: url("../assets/background.jpg") center/cover no-repeat;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__nav {
    height: 100%;
  }
  
  .header__nav__list {
    display: flex;
  }
  
  .header__nav__list__item {
    position: relative;
    text-transform: uppercase;
    list-style: none;
    margin: 0 35px;
    line-height: 100px;
  }
  
  .header__nav__list__item::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    right: 80%;
    height: 2px;
    background-color: var(--color-grey);
    opacity: 0;
    transition: all 0.5s;
  }
  
  .header__nav__list__item:hover::after {
    opacity: 1;
    right: -20px;
  }
  
  .hr {
    color: var(--color-grey);
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about__content {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .about__content__title {
    margin-top: 140px;
    font-weight: 900;
    font-size: 64px;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
  }
  
  .about__content__description {
    margin: 50px 170px 82px 170px;
    font-weight: 400;
    font-size: 24px;
    color: var(--color-white);
  }
  
  .advantage {
    height: 950px;
  }
  
  .wrapper,
  .wrapper2 {
    display: flex;
    justify-content: space-between;
  }
  
  .wrapper {
    margin-top: 115px;
    margin-bottom: 84px;
  }
  
  .card {
    width: 370px;
    height: 305px;
  }
  
  .card__title {
    text-align: center;
    padding-top: 67px;
    padding-bottom: 56px;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .card__description {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
  }
  
  .card__icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .card__icon_1,
  .card__icon_2,
  .card__icon_3,
  .card__icon_4,
  .card__icon_5,
  .card__icon_6 {
    display: flex;
    align-items: center;
  }

  
  
  
