.about {
    width: 100%;
    padding-bottom: 120px;
    background: url("../assets/background.jpg") center/cover no-repeat;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__nav {
    height: 100%;
    width: min(100%, 700px);
  }
  
  .header__nav-list {
    display: flex;
  }
  
  .header__nav-item {
    position: relative;
    text-transform: uppercase;
    list-style: none;
    margin: 0 35px;
    line-height: 100px;
  }
  
  .header__nav-item::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    right: 80%;
    height: 2px;
    background-color: var(--color-grey);
    opacity: 0;
    transition: all 0.5s;
  }
  
  .header__nav-item:hover::after {
    opacity: 1;
    right: -20px;
  }

  .input-burger {
    display: none;
  }
  
  .burger__label {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
  }
  
  .burger__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /* right: 0; */
    background-color: rgba(33, 31, 48, 0.522);
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: all .5s;
    transform: translateX(-100vw);
    padding: 2.5em;
    display: flex;
    flex-direction: column;
  }
  
  .burger__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    height: 50vh;
  }
  
  .burger__menu-link {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 15px;
  }
  
  .input-burger:checked ~ .burger__menu {
    transform: translateX(0);
  }
  
  .burger__close {
    font-size: 24px;
    color: var(--color-white);
    font-weight: 700;
    align-self: flex-end;
    padding-right: 30px;
    cursor: pointer;
  }
  
  
  .about__content {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .about__content-title {
    margin-top: 140px;
    font-weight: 900;
    font-size: 64px;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
   
    
  }
  
  .about__content-description {
    margin: 50px 170px 82px 170px;
    font-weight: 400;
    font-size: 24px;
    color: var(--color-white);
  }
   
  .wrapper,
  .wrapper2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .wrapper2 {
      padding-bottom: 133px;
  }
  
  .wrapper {
    margin-top: 115px;
    margin-bottom: 84px;
  }
  
  .card {
    width: 370px;
    height: 305px;
  }
  
  .card__title {
    text-align: center;
    padding-top: 67px;
    padding-bottom: 56px;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .card__description {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
  }
  
  .card__icon {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 1024px) {

    .about__content-title {
      font-size: 48px;
      line-height: 56px;
    }
    .about__content-description {
      font-size: 18px;
      line-height: 21px;
      margin-top: 3em;
    }
    .header__nav-item {
      font-size: 12px;
    }
    .about__content-btn {
      width: 310px;
      height: 80px;
    }
  } 

  @media (max-width: 768px) {

    .header__nav {
      display: none;
    }

    .burger__label {
      display: block;
    }
  } 

  @media (max-width: 320px) {

    .about {
      padding-bottom: 50px;
    }

    .about__content {
      margin: 0 5px 30px;
    }

    .about__content-title {
      font-size: 36px;
      line-height: 42px;
      
    }
    .about__content-description {
      width: 280px;
      height: 64px;
      font-size: 14px;
      padding-left: 0;
      margin: 50px 0px 82px 10px;
    }

  } 
  
  
  
