.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 115px;
}


.contacts {
    background: #353C65;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 250px;
    column-gap: 35px;
    padding-top: 166px;
    padding-bottom: 62px;
}


.contacts__location-title {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.contacts__location-text {
    padding-top: 34px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.contacts__social-text {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.contacts__social-links {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-top: 34px;
}

.contacts__social-icon>svg {
    width: 39px;
    height: 39px;
    fill: none;
}

.contacts__about {
    width: 370px;
}

.contacts__about-title {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.contacts__about-text {
    padding-top: 34px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.copyright {
    background-color: #2C3154;
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer__copyright {
    width: 370px;
    height: 42px;
    
    font-weight: 400;
    font-size: 18px;
}

.footer__copyright-text {
    color: #808080;;
}

.footer__copyright-text_white {
    color: white;
}

@media (max-width:768px) {
    .contacts__about-title {
        padding-top: 20px;
    }
}

