.team {
    width: 100%;
}

.team__card-img {
    width: 270px;
    height: 270px;
}

.team__card-img_1 {
    background: url(../assets/photo_1.png) center/cover no-repeat;
}

.team__card-img_2 {
    background: url(../assets/photo_2.png) center/cover no-repeat;
}

.team__card-img_3 {
    background: url(../assets/photo_3.png) center/cover no-repeat;
}

.team__card-img_4 {
    background: url(../assets/photo_4.png) center/cover no-repeat;
}


.team__cards {
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

.team__card {
    /* display: flex;
    flex-direction: column; */
    max-width: 270px;
}

.team__card-description {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    align-self: center;
}

.team__card-links {
    width: 270px;
    display: flex;
    gap: 5px;
}

.team__card-icon>svg {
    width: 39px;
    height: 39px;
    fill: transparent;
    stroke: #C6CBCD;
    box-shadow: 0px 2px 4px 1px rgb(214, 210, 210) ;
}

.team__card-icon>svg:hover {
    cursor: pointer;
    stroke: rgb(79, 174, 246);
    opacity: 0.7;
}

.team__card-title {
    padding-top: 40px;
    padding-bottom: 17px;
    font-weight: 700;
    font-size: 24px;
}

.team__card-text {
    padding-bottom: 24px;
    color: var(--color-red);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.team__card-description {
    padding-bottom: 37px;
}

.team__card-links {
    padding-bottom: 114px;
}

@media (max-width: 1024px) {

    .team__cards {
        height: 100%;
        max-width: 984px;
        column-gap: 10px;
        padding: 80px 0 30px 0;
    }

    .team__card {
        max-width: 228px;
    }

    .team__card-title {
        font-size: 18px;
    }

    .team__card-text {
        font-size: 15px;
    }

    .team__card-description {
        font-size: 20px;
    }

    .team__card-img {
        width: 228px;
        height: 228px;
    }
    
  } 

  @media (max-width: 768px) {

    .team__cards {
        margin: 0 auto;
        height: 100%;
        max-width: 680px;
        column-gap: 20px;
    }

    .team__card {
        width: 220px;
    }

    /* .team__card-img {
        width: 300px;
        height: 300px;
    } */
   
    
  } 