.testimonials {
    padding-bottom: 183px;
}

.layouts {
    width: 100%;
}

.layout {
    display: flex;
}

.layout_1 {
    width: 100%;
     background-color: #5C3249;
}

.layout__image {
    background: url(../assets/bglayout.png) center no-repeat;
    width: 741px;
    height: 490px;
} 

.layout__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
    background-color: var(--color-brown);
}

.layout__description>p {
    width: 470px;
    height: 230px;
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: var(--color-white);
}

.layout__description>h6 {
    font-weight: 700;
    font-size: 13px;
    display: flex;
    /* align-items: center; */
    text-transform: uppercase;
    color: var(--color-white);
}
