.testimonials {
    padding-bottom: 183px;
}

.layout__image {
    background: url(../assets/bg.jpg) center no-repeat;
    width: 50vw;
    height: 490px;
    flex-basis: 50%;
} 

.layouts {
    width: 100%;
}

.layout {
    display: flex;
}

.layout_1 {
    width: 100%;
    background-color: #5C3249;
}

.layout__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
}



.layout__description>p {
    width: 470px;
    height: 230px;
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: var(--color-white);
}

.layout__description>h6 {
    font-weight: 700;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-white);
}

@media (max-width:768px) {

    .layout__description>p {
        font-size: 24px;
    }

    .layout__description>h6 {
        font-size: 10px;
    }

    .layout__image {
        width: 100vw;
    } 
}





